In [6]:
import pandas as pd
import numpy as np

In [5]:
print(pd.__version__)

3.0.0

In [12]:
# pd.read_csv('zoo.csv', delimiter=',')

In [17]:
article_read = pd.read_csv('pandas_tutorial_read.csv', delimiter=';',
       names=['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])

In [19]:
article_read

              my_datetime event    country     user_id   source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
...                   ...   ...        ...         ...      ...            ...
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1795 rows x 6 columns]

In [20]:
article_read.head()

           my_datetime event    country     user_id   source          topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

In [21]:
article_read.tail()

              my_datetime event    country     user_id   source          topic
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1792  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1793  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1794  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

In [23]:
article_read.sample(5)

              my_datetime event    country     user_id   source      topic
856   2018-01-01 11:35:12  read  country_5  2458152117      SEO  Australia
325   2018-01-01 04:19:54  read  country_6  2458151586   Reddit       Asia
1726  2018-01-01 23:15:08  read  country_5  2458152987  AdWords       Asia
659   2018-01-01 09:01:09  read  country_2  2458151920  AdWords       Asia
436   2018-01-01 05:57:55  read  country_6  2458151697   Reddit     Africa

In [24]:
article_read[["country", "user_id"]]

        country     user_id
0     country_7  2458151261
1     country_7  2458151262
2     country_7  2458151263
3     country_7  2458151264
4     country_8  2458151265
...         ...         ...
1790  country_2  2458153051
1791  country_8  2458153052
1792  country_6  2458153053
1793  country_7  2458153054
1794  country_5  2458153055

[1795 rows x 2 columns]

In [25]:
article_read[["user_id", "country"]]

         user_id    country
0     2458151261  country_7
1     2458151262  country_7
2     2458151263  country_7
3     2458151264  country_7
4     2458151265  country_8
...          ...        ...
1790  2458153051  country_2
1791  2458153052  country_8
1792  2458153053  country_6
1793  2458153054  country_7
1794  2458153055  country_5

[1795 rows x 2 columns]

In [26]:
article_read.user_id

0       2458151261
1       2458151262
2       2458151263
3       2458151264
4       2458151265
           ...
1790    2458153051
1791    2458153052
1792    2458153053
1793    2458153054
1794    2458153055
Name: user_id, Length: 1795, dtype: int64

In [27]:
article_read['user_id']

0       2458151261
1       2458151262
2       2458151263
3       2458151264
4       2458151265
           ...
1790    2458153051
1791    2458153052
1792    2458153053
1793    2458153054
1794    2458153055
Name: user_id, Length: 1795, dtype: int64

In [29]:
article_read[article_read.source == 'SEO']

              my_datetime event    country     user_id source          topic
0     2018-01-01 00:01:01  read  country_7  2458151261    SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262    SEO  South America
11    2018-01-01 00:08:57  read  country_7  2458151272    SEO      Australia
15    2018-01-01 00:11:22  read  country_7  2458151276    SEO  North America
16    2018-01-01 00:13:05  read  country_8  2458151277    SEO  North America
...                   ...   ...        ...         ...    ...            ...
1772  2018-01-01 23:45:58  read  country_7  2458153033    SEO  South America
1777  2018-01-01 23:49:52  read  country_5  2458153038    SEO  North America
1779  2018-01-01 23:51:25  read  country_4  2458153040    SEO  South America
1784  2018-01-01 23:54:03  read  country_2  2458153045    SEO  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052    SEO           Asia

[346 rows x 6 columns]

In [31]:
#article_read.source == "SEO"

In [32]:
article_read.head()[['country', 'user_id']]

     country     user_id
0  country_7  2458151261
1  country_7  2458151262
2  country_7  2458151263
3  country_7  2458151264
4  country_8  2458151265

In [33]:
article_read[['country', 'user_id']].head()

     country     user_id
0  country_7  2458151261
1  country_7  2458151262
2  country_7  2458151263
3  country_7  2458151264
4  country_8  2458151265

In [35]:
article_read[['user_id', 'country', 'topic']][article_read.country == 'country_2'].head()

       user_id    country   topic
6   2458151267  country_2  Europe
13  2458151274  country_2  Europe
17  2458151278  country_2    Asia
19  2458151280  country_2    Asia
20  2458151281  country_2    Asia

In [36]:
data_filtered = article_read[article_read.country == "country_2"]

In [38]:
data_filtered_cols = data_filtered[['user_id', 'country', 'topic']]

In [39]:
data_result = data_filtered_cols.head()

In [40]:
data_result

       user_id    country   topic
6   2458151267  country_2  Europe
13  2458151274  country_2  Europe
17  2458151278  country_2    Asia
19  2458151280  country_2    Asia
20  2458151281  country_2    Asia